<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="2ba21207-3a92-4a2a-9c21-08c946e0b046" wadlVersion="http://wadl.dev.java.net/2009/02" name="${#Project#baseURL}" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
    <con:settings>
      <con:setting id="2ba21207-3a92-4a2a-9c21-08c946e0b046fileName">%24%7B%23Project%23baseURL%7D</con:setting>
    </con:settings>
    
    <con:endpoints>
      <con:endpoint>${#Project#baseURL}</con:endpoint>
    </con:endpoints>
    <con:environmentSpec>
      <con:entry environmentId="12fa4514-9cd8-4cfa-bdff-13f963c9009f">
        <con:authProfile>Inherit From Parent</con:authProfile>
      </con:entry>
      <con:entry environmentId="24f84e45-af96-450e-9eea-b399013d43a1">
        <con:authProfile>Inherit From Parent</con:authProfile>
      </con:entry>
      <con:entry environmentId="50090d36-6dc4-45fa-9e69-7787c9c1042f">
        <con:authProfile>Inherit From Parent</con:authProfile>
      </con:entry>
      <con:entry environmentId="da8afcfb-5aed-4f19-907b-ab0f832d77f9">
        <con:authProfile>Inherit From Parent</con:authProfile>
      </con:entry>
      <con:entry environmentId="5d5a89dc-8908-4184-a97f-26ff52a15fcf">
        <con:authProfile>Inherit From Parent</con:authProfile>
      </con:entry>
      <con:entry environmentId="d0be80ff-b21f-4b1b-a546-3ae21dc001f8">
        <con:authProfile>Inherit From Parent</con:authProfile>
      </con:entry>
      <con:entry environmentId="7cdd7c08-5bb6-4018-8dcf-234bef6b659f">
        <con:authProfile>Inherit From Parent</con:authProfile>
      </con:entry>
      <con:entry environmentId="a93747eb-45aa-4311-b15c-943ff5e2b2cf">
        <con:authProfile>Inherit From Parent</con:authProfile>
      </con:entry>
      <con:entry environmentId="ac23af5a-9c6e-4b53-85cc-1d18eb01f584">
        <con:authProfile>Inherit From Parent</con:authProfile>
      </con:entry>
      <con:entry environmentId="50d0f472-59e6-40a3-b900-b2d9ce4c7ef1">
        <con:authProfile>Inherit From Parent</con:authProfile>
      </con:entry>
      <con:entry environmentId="36448cc6-8d95-475e-b8fb-678302c2cb95">
        <con:authProfile>Inherit From Parent</con:authProfile>
      </con:entry>
      <con:entry environmentId="aa6ca34e-6a45-42ae-985b-fe4793cc70f0">
        <con:authProfile>Inherit From Parent</con:authProfile>
      </con:entry>
      <con:entry environmentId="08fc71af-2286-45e7-bcc6-3d7935822b9b">
        <con:authProfile>Inherit From Parent</con:authProfile>
      </con:entry>
    </con:environmentSpec>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  </con:interface>