<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="931d67aa-d24c-4a88-941d-d4cff5a987e3" name="Receipt" xmlns:con="http://eviware.com/soapui/config">
    <con:settings>
      <con:setting id="931d67aa-d24c-4a88-941d-d4cff5a987e3fileName">Receipt</con:setting>
    </con:settings>
    <con:savedRecentRuns>1</con:savedRecentRuns>
    <con:runType>SEQUENTIAL</con:runType>
    <con:properties>
      <con:property>
        <con:name>orderID</con:name>
        <con:value>452a277f-bc0c-4ff1-b58a-7656967b30c9</con:value>
      </con:property>
    </con:properties>
    <con:reportParameters/>
    <con:environmentSpec>
      <con:entry environmentId="5d5a89dc-8908-4184-a97f-26ff52a15fcf">
        <con:authProfile>Inherit From Parent</con:authProfile>
      </con:entry>
    </con:environmentSpec>
  </con:testSuite>