<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c0603179-a242-423a-b81c-65b2df08063e" name="Handshake" xmlns:con="http://eviware.com/soapui/config">
    <con:settings>
      <con:setting id="c0603179-a242-423a-b81c-65b2df08063efileName">Handshake</con:setting>
    </con:settings>
    <con:savedRecentRuns>1</con:savedRecentRuns>
    <con:runType>SEQUENTIAL</con:runType>
    <con:properties/>
    <con:reportParameters/>
    <con:environmentSpec>
      <con:entry environmentId="5d5a89dc-8908-4184-a97f-26ff52a15fcf">
        <con:authProfile>Inherit From Parent</con:authProfile>
      </con:entry>
    </con:environmentSpec>
    
    
    
  </con:testSuite>